<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Amanda"/>
    <meta name="renderer" content="webkit">
    <meta name="description" content="Amanda's Blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="alternate" type="application/atom+xml" title="Recent Entries" href="{{ site.feed }}"/>
    <style>{
    %
    include
    style
    .
    css
    %
    }</style>

</head>

<nav class="main-nav">
    {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
    {% for p in navigation_pages %}
    {% if p.navigation_weight %}
    <li>
        <a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
            {{ p.title }}
        </a>
    </li>
    {% endif %}
    {% endfor %}

</nav>

{{ content }}
</html>
